body {
    background-color:#0a3d62;
}
h1 {
    text-align: center;
    background-color:#55a8e4;
    color:rgb(107, 23, 8);
}
div {
    background-color:rgb(245, 158, 245);
    
}
button {
    color:blueviolet;
    background-color: cornsilk;
    border-radius: 52px;
  background: #0a3d62;
  padding: 20px; 
  width: 100px;
  height: 60px;  
  text-align: center;
}
